html, body, #root {
	height: 100vh;
	min-height: 100vh;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

.content-holder {
	background-color: #666;
	background-image: url("anonymous-logo.png");
	background-position: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 20px;
}

.main-text {
	color: #fff;
}

a {
	font-family: 'Russo One', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

