.comment-center {
    margin: auto;
    width: 100%;
    border-bottom: 2px solid #333;
}

.comment-content {
    margin-left: 2em;
    margin-right: 2em;
}

.comm-author  {
    display: none;
}

.collapse-btn {
    width:20%;
    height: 3rem;
    display:block;
    font-size: 80px;
    color: #fff;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}
.collapse-btn:focus {
    outline:0;
}

.collapse-wrapper {
    background-color: #666;
}

.more-stories  {
    width:100%;
    height: 3rem;
    display:block;
    font-size: 2 em;
    color: #fff;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    border-top: 2px solid #555;
    cursor: pointer;
}

.more-wrapper {
    background-color: #222;
}

.more-wrapper:hover {
    background-color: #111;
}

.more-stories:focus {
    outline:0;
}