/*ul {
	display: flex;
    align-items: stretch;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-bottom: 2px solid #222;
}

li {
	display: block;
    flex: 0 1 auto;
	float: right;
	border-right:1px solid #bbb;
}*/
.nav-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    background: #cacaca;
    margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-bottom: 2px solid #222;
	border-top: 2px solid #222;
}
.menu-item {
    display: block;
	flex: 0 1 auto;
	width: 50%;
	list-style-type: none;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-right:1px solid #222;
}

.menu-item:last-child {
	border-right: none;
}

.menu-item a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5rem;
}

.menu-item a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #111;
}

.header-holder {
	background-color: #333;
	padding-top: 1px;
}
.ic-tit {
	width: 100%;
	margin: auto;
	text-align: center;
}
.ic-tit a {
	text-decoration: none;
}
.icon-holder {
	font-size: 4rem;
}
.title-holder {
	font-size: 3rem;
	font-family: 'Anton', sans-serif;
}