.more-stories  {
    width:100%;
    height: 3rem;
    display:block;
    font-size: 2 em;
    color: #fff;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    border-top: 2px solid #555;
    cursor: pointer;
}

.more-wrapper {
    background-color: #222;
}

.more-wrapper:hover {
    background-color: #111;
}

.more-stories:focus {
    outline:0;
}