.story-center {
    margin: auto;
    width: 90%;
    border-bottom: 2px solid #333;
}

.from-comment {
    border: 1px solid #333;
}

.story-content {
    margin-left: 2em;
    margin-right: 2em;
}

a {
    color: #aaa;
}

a:hover{
    color: #fff;
}

/* TOP PART OF USER */
.user-center {
    height: 100%;
}
.user-top-info {
    width: 100%;
    text-align: center;
}
.user-id {
    margin-bottom: 0;
}
.birthday {
    margin-top: 0;
}

/*MIDDLE PART OF USER*/
.user-midd-info {
    margin: auto;
    width: 80%;
    border-bottom: 2px solid #333;
}
.optional-info {
    display: none;
}

/*BOTTOM PART OF USER*/
.user-bott-info {
    text-align: center;
}

